# don't push out -i
-i

bash/*.save
bash/.DS_Store
bash/.DS_Store?
bash/._*
bash/.Spotlight-V100
#
# these files are all created by the build process; none are in the repository
#
bash/*.o
bash/*.a
bash/*.dSYM
bash/.build
bash/.made

bash/config.h
bash/config.status
bash/config.cache
bash/config.log

bash/configure~

bash/autom4te.cache

bash/bash
bash/bashbug
bash/bashversion

bash/TAGS
bash/tags

bash/Makefile
bash/builtins/Makefile
bash/builtins/builtext.h
bash/builtins/builtins.c
bash/builtins/mkbuiltins
bash/builtins/pipesize.h
bash/builtins/psize.aux

bash/doc/Makefile
bash/examples/loadables/Makefile
bash/examples/loadables/Makefile.inc
bash/examples/loadables/perl/Makefile
bash/lib/glob/Makefile
bash/lib/intl/Makefile
bash/lib/malloc/Makefile
bash/lib/readline/Makefile
bash/lib/sh/Makefile
bash/lib/termcap/Makefile
bash/lib/tilde/Makefile
bash/support/Makefile

bash/lib/intl/charset.alias
bash/lib/intl/libgnuintl.h
bash/lib/intl/libintl.h
bash/lib/intl/ref-add.sed
bash/lib/intl/ref-del.sed

bash/po/Makefile
bash/po/Makefile.in
bash/po/POTFILES
bash/po/stamp-po

bash/support/bash.pc
bash/support/man2html
bash/support/bashbug.sh

bash/lsignames.h
bash/pathnames.h
bash/signames.h
bash/version.h
bash/syntax.c
bash/stamp-h

bash/mksignames
bash/mksyntax

bash/printenv
bash/recho
bash/xcase
bash/zecho
bash/tests/printenv
bash/tests/recho
bash/tests/xcase
bash/tests/zecho

bash/examples/loadables/accept
bash/examples/loadables/basename
bash/examples/loadables/csv
bash/examples/loadables/cut
bash/examples/loadables/dirname
bash/examples/loadables/fdflags
bash/examples/loadables/finfo
bash/examples/loadables/head
bash/examples/loadables/id
bash/examples/loadables/ln
bash/examples/loadables/logname
bash/examples/loadables/mkdir
bash/examples/loadables/mkfifo
bash/examples/loadables/mktemp
bash/examples/loadables/mypid
bash/examples/loadables/pathchk
bash/examples/loadables/print
bash/examples/loadables/push
bash/examples/loadables/realpath
bash/examples/loadables/rm
bash/examples/loadables/rmdir
bash/examples/loadables/seq
bash/examples/loadables/setpgid
bash/examples/loadables/sleep
bash/examples/loadables/strftime
bash/examples/loadables/sync
bash/examples/loadables/tee
bash/examples/loadables/truefalse
bash/examples/loadables/tty
bash/examples/loadables/uname
bash/examples/loadables/unlink
bash/examples/loadables/whoami

target
/.idea/.gitignore
/.idea/mash.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
